<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
</head>
<body>
    <div>Manage Users</div>
    <div>
        <a th:href="@{/new}">Add New User</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Enabled</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tblock th:each="user : ${listUser}">
                <tr>
                    <td>[[${user.id}]]</td>
                    <td>[[${user.name}]]</td>
                    <td>[[${user.email}]]</td>
                    <td>[[${user.password}]]</td>
                    <td>[[${user.enabled}]]</td>
                    <th>
                        <a th:href="@{'/edit/' + ${user.id}}">Edit</a>
                        <a th:href="@{'/delete/' + ${user.id}}">Delete</a>
                    </th>
                </tr>
            </tblock>
        </tbody>
    </table>
</body>
</html>